ErrorDocument 404 /err/404/index.php
ErrorDocument 403 /err/403/index.php

# Blocks access to src/ content and .log files
RewriteEngine On
RewriteRule ^src/ - [F,L]

<FilesMatch "\.log$">
    Require all denied
</FilesMatch>

# Gzip compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain text/html text/css text/xml
  AddOutputFilterByType DEFLATE application/xml application/xhtml+xml application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript application/x-javascript application/json
  AddOutputFilterByType DEFLATE image/svg+xml
</IfModule>

# Cache 48 hours
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 48 hours"
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(jpg|jpeg|png|gif|svg|webp|ico|css|js|ttf|otf|woff|woff2|eot|mp3|mp4|pdf)$">
    Header set Cache-Control "must-revalidate"
  </FilesMatch>
</IfModule>