ErrorDocument 404 'Oops! Página não encontrada. Tente voltar.'
ErrorDocument 403 'Oops! Acesso não permitido. Tente voltar.'
ErrorDocument 502 'Oops! Houve uma falha temporária na comunicação entre os servidores. Tente recarregar a página ou tentar mais tarde.'

# Blocks access to src/ content and .log files
RewriteEngine On
RewriteRule ^src/ - [F,L]

<FilesMatch "\.log$">
    Require all denied
</FilesMatch>

# Gzip compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain text/html text/css
  AddOutputFilterByType DEFLATE application/xml application/json
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE font/ttf font/otf
</IfModule>

# Cache 1 month
<IfModule mod_headers.c>
  Header set Cache-Control "max-age=2592000, must-revalidate"
</IfModule>
