@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #dddddd;
    --complementar-color: #ffffff;
    --primary-color: #c2a995;
    --confirm-color: green;
    --cancel-color: darkred;
    --transitons-duration: 0.3s;
}

/* BASE STYLES */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-color);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--complementar-color);
    padding: 1rem;
    border-radius: 1rem;
}

input,
button,
table,
svg,
.notification {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

input {
    border: 2px solid var(--primary-color);
}

button {
    font-weight: bold;
    border: none;
    transition: var(--transitons-duration);
}

svg {
    transition: var(--transitons-duration);
}

button:hover,
svg:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button:active,
svg:active {
    transform: scale(0.95);
}

table {
    border: 2px solid var(--primary-color);
    background-color: var(--complementar-color);
}

tr {}

td,
th {
    text-align: center;
    padding: 0.5rem;
    max-width: 10rem;
    word-wrap: break-word;
}

.notification {
    position: absolute;
    top: -5rem;
    background-color: var(--primary-color);
    font-weight: bold;
    animation: notification 5s ease;
}

/* LOGIN */

#bodyLogin {
    width: 100vw;
    height: 100vh;
}

#formLogin {
    min-width: 15rem;
    width: 50vw;
    max-width: 20rem;
}

#loginBtn {
    background-color: var(--primary-color);
}

/* COMERCIAL */

.aproveProposalBtn {
    background-color: var(--confirm-color);
}

.denyProposalBtn,
.deleteProposalBtn {
    background-color: var(--cancel-color);
}

/* ANIMATIONS */

@keyframes notification {
    10% {
        top: 1rem;
    }

    90% {
        top: 1rem;
    }

    100% {
        top: -5rem;
    }
}